<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your QR Code </title>


</head>
<body>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<a href = "/" type = "button" class = "btn btn-primary" style = "float: right; margin-right: 10px; margin-top: 10px; color: white;"> Logout </a>
<img src=<%=src%> alt="QR Code Image">
<p style="margin-left: 10px;">Scan the QR Code to access data!</p>
<a href="/create-qr-code"><button type="button" class="btn btn-primary" style="margin-left: 10px;">Back</button></a>

    
</body>
</html>

